@import '../../utils/variables';

.footer-icon {
  display: flex;
  align-items: center;

  @media screen and (max-width: $desktop) {
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: $mobile) {
    width: 450px;
  }

  @media screen and (min-width: $tablet) {
    width: 738px;
  }

  @media screen and (min-width: $desktop) {
    width: 1170px;
  }
}
.year {
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: $secondary-text-color;

  @media screen and (max-width: $desktop) {
    display: none;
  }
}
