@import '../../utils/variables';
.footer1-margin {
  margin-top: 65px;
  margin-bottom: 55px;

  @media screen and (max-width: $tablet) {
    text-align: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) {
    text-align: center;
    width: 50%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
  }

  @media screen and (min-width: $desktop) {
    text-align: start;
    width: 231px;
    margin-top: 65px;
    margin-bottom: 55px;
    margin-right: 0;
  }
}
.web-studio {
  margin-bottom: 8px;
}
.address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: $primary-white-color;
  font-style: normal;
  // margin-right: 70px;

  @media screen and (max-width: $desktop) {
    margin-right: 0;
    text-align: center;
  }
}
.info {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: $secondary-text-color;
  text-decoration: none;
  font-style: normal;
}
