.site-nav-1 {
  display: flex;
  margin-left: auto;

  @media screen and (max-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    width: 100%;
    margin-top: 60px;
    height: 60px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 300px;
    align-items: center;
  }
}
.site-nav-address {
  margin-right: 31px;
  margin-left: auto;

  @media screen and (max-width: $tablet) {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 0;
    margin-left: 0;

    &:last-child {
      margin-top: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-right: 31px;
    margin-left: auto;

    &:last-child {
      margin-top: 0px;
    }
  }
}
.link {
  color: $primary-text-color;
  display: flex;
  align-items: center;

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: $primary-text-color;

  &:hover {
    color: $accent-color;
    fill: $accent-color;
    transition-duration: $duration;
    transition-timing-function: $cubic;
  }
  &:focus {
    color: $accent-color;
    fill: $accent-color;
    transition-duration: $duration;
    transition-timing-function: $cubic;
  }

  @media screen and (min-width: $tablet) {
    font-size: 12px;
  }
}

.contacts-svg {
  margin-right: 10px;

  &:hover {
    color: var(--accent-color);
    transition-duration: $duration;
    transition-timing-function: $cubic;
  }
  &:focus {
    color: $accent-color;
    transition-duration: $duration;
    transition-timing-function: $cubic;
  }
}
