.main-nav {
  display: flex;
  align-items: center;
  height: 80px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    height: 60px;
  }

  @media screen and (min-width: 767px) {
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
}

.menu-button {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-close {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 80px;
    height: 420px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    z-index: 10;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16),
      0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 4px 8px rgba(0, 0, 0, 0.04);
  }
}

.menu-container.is-open {
  display: flex;
  flex-wrap: wrap;
}
