$accent-color: #2196f3;
$what-we-do-color: #f5f4fa;
$primary-text-color: #757575;
$title-text-color: #212121;
$primary-white-color: #ffffff;
$secondary-text-color: rgba(255, 255, 255, 0.4);
$footer-backgroung-color: #2f303a;
$people-icons: #afb1b8;
$footer-ellipce: #c4c4c4;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$overlay: rgba(33, 150, 243, 0.9);
$ourwork: rgba(47, 48, 58, 0.8);
$duration: 250ms;
$modal-button: #188ce8;
$footer-circle: rgba(255, 255, 255, 0.1);
$button-color: rgba(0, 0, 0, 0.15);
$icons-color: rgba(156, 156, 156, 0.2);
$gradient: rgba(47, 48, 58, 0.8);
$footer-input-border: rgba(255, 255, 255, 0.3);
$footer-input-background: rgba(255, 255, 255, 0);
$shading: rgba(0, 0, 0, 0.5);
$shadow1: rgba(0, 0, 0, 0.2);
$shadow2: rgba(0, 0, 0, 0.14);
$shadow3: rgba(0, 0, 0, 0.12);
$shadow4: rgba(0, 0, 0, 0.08);
$shadow5: rgba(0, 0, 0, 0.1);
$shadow6: rgba(0, 0, 0, 0.16);
$shadow7: rgba(0, 0, 0, 0.06);
$modal-cancel-border: rgba(33, 33, 33, 0.2);
$modal-accent: rgba(33, 150, 243, 0.9);
